html, body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  gap: 5rem;
  margin-left: 30rem;
}

header {
  margin-bottom: 1em;
  display: flex;
  align-items:center;
  justify-content: space-around;
}
