.userinfo ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}

.userinfo ul li{
    display: flex;
    flex-direction: column;
    font-size: large;
    padding-right: 2rem;
}

.order {
    margin-bottom: 2rem;
    border: 2px solid;
    border-radius: 15px;
}

