body {
    background-color: #ffe4c4;
  }


.navigation ul{
    position: relative;
    background-color:#af9473;
    overflow: hidden;

    list-style-type: none;
    padding: 0;
}

.navigation li {
    float: left;
}

.navigation li a{
    color:black;
    margin: 20px;

    outline-style: double;
    outline-color: rgb(142, 65, 17);
    outline-width: thick;
    

    display: block;
    border-radius: 50px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navigation li a:hover{
    background-color: #af9473;
    color:white;

    outline-style: double;
    outline-color: rgb(142, 65, 17);
    outline-width: thick;
    outline-offset: 5px;
}

.logo{
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}